*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*{
    --LemonChiffon:#FFFACD;
}

header{
    margin: 1em;
    background-color: var(--LemonChiffon);

    img{
        width: 10%;
        height: 10%;
    }
}