@charset "UTF-8";
/*
notas animaciones

transform (es para transformar bidimencional y tridimencional)
Funcion( transform: funcion; funcion([scale:crece y decrece(#)], [skew: sesgo movimiento en cursiva(grado)]
[rotate: rotación(grd)], [translate: traslación(px)], transform-origin: moviento segun el origen(transform-origin: bottom right 60px),
[https://developer.mozilla.org/es/docs/Web/CSS/transform#s%C3%ADntaxis] documentacion extra ) )
*/
/*para las animaciones usaremos la sigiente estructura 
@keyframes(nombre){
} ejemplo anterior
paso1
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

* {
  --rojo: #FF0000;
  --Gainsboro: #DCDCDC;
  --LavenderBlush: #FFF0F5;
  --Black: #000000;
  --LightSalmon: #FFA07A;
}

@-webkit-keyframes logo {
  0% {
    opacity: 0%;
  }
  25% {
    transform: scale(1.2);
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes logo {
  0% {
    opacity: 0%;
  }
  25% {
    transform: scale(1.2);
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
/*
paso2
animation-name: nombre
animation-duration:duracion
animation-intiration-count: cantidad de veces que se repite
animation-direccion:como se ve la animacion se ve mientras se reproduce
*/
body {
  margin: 2em;
}

header {
  display: flex;
  justify-content: space-between;
}
header img {
  -webkit-animation-name: logo;
          animation-name: logo;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  width: 5%;
  height: 5%;
  margin: 2em;
}
header nav,
header a {
  display: flex;
  margin: 1em;
}

/*transition

- definir el elemento y propiedad que queremos manipular 
ej/ button{ background-color:(); color: ();
- transition debe de estar en la regla de estilo que no tiene la seudo clase :hover 

*/
.transcicion {
  display: flex;
  align-items: center;
}
.transcicion button {
  padding: 1em;
  margin: 0.5em;
  width: 15%;
  height: 15%;
  background-color: var(--rojo);
  border-radius: 0.5em;
  border: var(--rojo);
  color: var(--Gainsboro);
}
.transcicion .contrans:hover {
  background-color: var(--LavenderBlush);
  color: var(--Black);
  border: solid var(--Black);
}
.transcicion .sintrans {
  width: 10em;
  height: 10em;
  background-color: var(--rojo);
  transition: all 450ms;
  /* (all) se debe de colocar para que queden incluidos todos los elementos */
}
.transcicion .sintrans:hover {
  border-radius: 50%;
  background-color: var(--LightSalmon);
  color: var(--Black);
}

.grid {
  text-decoration: none;
  text-align: center;
  padding: 2em;
  color: #000000;
  text-overflow: ellipsis;
}

.bas_dat {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bas_dat h2 {
  background-color: #FFA07A;
  border-radius: 1em;
  margin: 2em;
  padding: 1em;
  text-align: center;
  width: 40%;
}

.prog_imper {
  background-color: var(--LightSalmon);
  border-radius: 1em;
  border: none;
  font-size: 2em;
  padding: 1em;
  margin: 1em;
  text-decoration: none;
  text-align: center;
  color: #000000;
}/*# sourceMappingURL=estilos.css.map */