*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root{
    --Gainsboro:#DCDCDC;
    --WhiteSmoke:#F5F5F5;
    --LightSteelBlue:#B0C4DE;
    --DeepSkyBlue:#00BFFF;
    --RebeccaPurple:	#663399;	
    --BlueViolet:	#8A2BE2;	
    --DarkViolet:	#9400D3;	
    --DarkOrchid:	#9932CC;    
    --DarkMagenta:	#8B008B;	
    --Purple:	#800080;	
    --Indigo:	#4B0082;
    --SlateBlue:	#6A5ACD;	
}

body{
    background-color: var(--Gainsboro);
    header{
        background-color:var(--WhiteSmoke) ;
        .logo{
            display: flex;
            justify-content: space-between;
            align-items: center;
            img{
                width: 10%;
                height: 10%;
                margin: 1em 10em;
            }
            button{
                padding: 1em;
                border: none;
                width: 10%;
                border-radius: 5%;
                background-color: var(--LightSteelBlue);

            }
        }
    }
    main{

        .gallery{
            margin: 2em;
            display:flex;
            flex-direction: column;
            align-items: center;
            h1{
                margin: 1em;
            }
            img{
                width: 30%;
                display: inline-flex;

            }
        }
        .contained{
            margin: 2em;
            display: grid;
            grid-template-columns: 1fr 2fr 3fr ;
            grid-template-rows: 4em 5em 2em 4em;
            grid-gap: 1em;
            .items_1{
                background-color: var(--BlueViolet);
                text-align: center;
                grid-column: 1/4;
                grid-row: 1/2;
            }
            .items_2{
                background-color: var(--DarkMagenta);
                text-align: center;
                grid-column: 1/2;
                grid-row: 2/8;
            }
            .items_3{
                background-color: var(--Indigo);
                text-align: center;
                grid-column: 2/3;
                grid-row: 2/2;
            }
            .items_4{
                background-color: var(--SlateBlue);
                text-align: center;
                grid-column: 3/3;
                grid-row: 2/4;
            }
            .items_5{
                background-color: var(--RebeccaPurple);
                text-align: center;
                grid-column: 2/4;
                grid-row: 4/6;
            }
            .items_6{
                background-color: var(--SlateBlue);
                text-align: center;
                grid-column: 2/2;
                grid-row: 6/8;
            }
            .items_7{
                background-color: var(--Purple);
                text-align: center;
                grid-column: 3/3;
                grid-row: 6/8;
            }
        }
        .diario{
            text-align: center;
            color: var(--WhiteSmoke);
            margin: 2em;
            display: grid;
            grid-template-columns: 1fr 2fr 1fr 3fr;
            grid-template-rows: 2em 3em 4em 3em 2em;
            grid-gap: 1em;
            grid-template-areas: 
            "inicio inicio inicio inicio"
            "noticias . . incripcion"
            "noticias comentario comentario comentario"
            "noticias sugerencias sugerencias ."
            "derechos derechos derechos derechos";
            .grid1{
                grid-area: inicio;
                background-color: var(--Indigo);
            }
            .grid2{
                grid-area: noticias;
                background-color: var(--SlateBlue);
            }
            .grid3{
                grid-area: comentario;
                background-color: var(--DarkViolet);
            }
            .grid4{
                grid-area: sugerencias;
                background-color: var(--RebeccaPurple);
            }
            .grid5{
                grid-area: incripcion;
                background-color: var(--Purple);
            }
            .grid6{
                grid-area:derechos ; 
                background-color: var(--DarkMagenta);
            }
        }

    }
}